<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="Logs\internal-nlog-AspNetCore.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--[變數] 檔案位置 / basedir:bin\Debug\net6.0\Logs -->
  <variable name="LogTxtLocation1" value="${basedir}/Logs/nlog-AspNetCore-all-${shortdate}.log"/>
  <variable name="LogTxtLocation2" value="${basedir}/Logs/nlog-AspNetCore-own-${shortdate}.log"/>
	
  <!-- 為了產生新的 nlog 記錄檔案，你可以在現有的 nlog.config 中增加一個新的 target，並定義一個新的 logger。以下是如何做到這一點：
       1.  在targets 區塊中新增一個新的檔案目標（例如 newFile）。
       2.  在 rules 區塊中新增一條規則，指向這個新目標。
  -->
  <targets>
    <!-- File Target for all log messages with basic details -->
    <target xsi:type="File" name="allfile" fileName="${LogTxtLocation1}"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
	<!-- 預設layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" -->
    <target xsi:type="File" name="ownFile-web" fileName="${LogTxtLocation2}"
            layout="${longdate} ${logger} ${message}" />

	<!-- 目標1 -->
	<target xsi:type="File" name="LdapUserHistoryFile" fileName="${basedir}/Logs/LdapUserHistory-log.log"
			layout="${longdate} ${logger} ${message} ${exception:format=tostring}" />

	<!-- 目標2 -->
	<target xsi:type="File" name="mailLogFile" fileName="${basedir}/Logs/MailSend-log.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
  </targets>

  <!-- 先看這，是由rules對應到target；rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

	<!-- 規則1 -->
	<logger name="LdapUserHistoryLogger" minlevel="Trace" writeTo="LdapUserHistoryFile" final="true" />

	<!-- 規則2 -->
	<logger name="API.Classes.MailSend*" minlevel="Trace" writeTo="mailLogFile" final="true" />

	<!-- 通用規則(預設) -->
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>